/* ~~~~~~~~~~~~~~~~~ Main Colors ~~~~~~~~~~~~~~~~~ */
:root {
    --tan: #F5F3EF;
    --black: #000000;
    --white: #FFFFFF;
    --dark-grey: #646464;
    --light-grey: #DCDCDC;
    --yellow: #FEBD2F;    
}
/* ~~~~~~~~~~~~~~~~~ CSS reset ~~~~~~~~~~~~~~~~~ */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: var(--black);
}
/* ~~~~~~~~~~~~ grid container ~~~~~~~~~~~~ */
.grid-container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: 100px 600px 888px 80px;
    grid-template-areas: 
    "header header header header"
    "main main main main"
    "card card card card"
    "footer footer footer footer";
}
/* ~~~~~~~~~~~~ header section ~~~~~~~~~~~~ */
header{
    grid-area: header;
    background-color: var(--tan);
    display: flex;
    font-size: 16px;
    align-items: center;
    justify-content: space-between;
    padding: 0px 50px;
   
}
header button{
    width: 130px;
    height: 48px;
    border-radius: 28px;
    border: none;
    background-color: var(--black);
    color: var(--white);
}
header nav{
    display: flex;
    width: 13%;
    justify-content: space-between;
}
/* ~~~~~~~~~~~~ main section ~~~~~~~~~~~~ */
main{
    grid-area: main;
    background-color: var(--tan);
    display: flex;
    align-items: center;
    justify-content: center;
}
.main-text{
 display: flex;
 flex-direction: column;
 width: 50%;
 padding: 0px 20px 0px 20px;
}
h1{
    font-size: 64px;
    font-weight: 500;
}
main p {
    font-size: 24px;
}
main img {
    border-radius: 40px;
    width: 600px;
    padding-right: 20px;
}
/* ~~~~~~~~~~~~ card container ~~~~~~~~~~~~ */
.card-container{
    grid-area: card;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 100px 2px;
    padding: 50px;
    background-color: var(--tan);
}
.card{
 display: flex;
 flex-direction: column;
 width: 90%;
 justify-self: center;
 padding: 40px;
 background-color: var(--white);
 border-radius: 40px;
 gap: 30px;
 position: relative;
}
.card img{
    width: 64px;
    height: 60px;
    position: absolute;
    top: -30px;
    right: 30px;
}
.yellow {
    background-color: var(--yellow);
    font-size: 30px;
}
.card button {
    width: 143px;
    height: 48px;
    background-color: var(--white);
    border: var(--light-grey) 1px solid;
    border-radius: 50px;
    font-size: 16px;
    font-weight: 600;
    margin-top: 20px;
}
h3 {
    font-size: 24px;
    font-weight: 900;
}
.card p {
    font-size: 18px;
    line-height: 28px;
}
/* ~~~~~~~~~~~~ footer ~~~~~~~~~~~~ */
footer{
    grid-area: footer;
    background-color: var(--yellow);
    display: flex;
    justify-content: center;
    align-items: center;
}